body {
    background: #0d0d0d;
    color: #fff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    width: 95%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #00eaff;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #00eaff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #00b4cc;
}

.chat-box {
    margin-top: 15px;
    height: 350px;
    overflow-y: scroll;
    background: #111;
    padding: 10px;
    border-radius: 8px;
}

.time {
    color: #888;
    font-size: 12px;
}
